<div class="main-body">
    <div class="panel-header">
      <h2>Liste des fournisseurs</h2>
      <button mat-raised-button color="primary" (click)="navigateToAddFournisseur()">Ajouter Fournisseur</button>
    </div>
    <mat-form-field>
      <mat-label>Rechercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Nom">
    </mat-form-field>
  
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>ID Societe</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fournisseur of filteredFournisseurs">
            <td>{{ fournisseur.id }}</td>
            <td>{{ fournisseur.name }}</td>
            <td>{{ fournisseur.adresse }}</td>
            <td>{{ fournisseur.idSociete }}</td>
            <td>
              <button mat-icon-button color="primary" (click)="navigateToEditFournisseur(fournisseur.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteFournisseur(fournisseur.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  