<h1 mat-dialog-title>{{ fournisseur.id ? 'Éditer Fournisseur' : 'Ajouter Fournisseur' }}</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="fournisseur.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adresse</mat-label>
      <input matInput [(ngModel)]="fournisseur.adresse" name="adresse" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ID Société</mat-label>
      <input matInput [(ngModel)]="fournisseur.idSociete" name="idSociete">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
 
  <button mat-button color="primary" (click)="onSubmit()">Sauvegarder</button>
  <button mat-button (click)="onCancel()">Annuler</button>
</div>
