<h2>{{isEditMode ? 'Modifier Bon d\'Entrée' : 'Ajouter Bon d\'Entrée'}}</h2>
<form #bonEntreeForm="ngForm" (ngSubmit)="onSubmit(bonEntreeForm)">
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput name="date" [(ngModel)]="bonEntree.date" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantité</mat-label>
    <input matInput name="qte" [(ngModel)]="bonEntree.qte" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom Produit</mat-label>
    <mat-select name="idProduit" [(ngModel)]="bonEntree.idProduit" required>
      <mat-option *ngFor="let produit of produits" [value]="produit.id">{{ produit.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom Fournisseur</mat-label>
    <mat-select name="idFournisseur" [(ngModel)]="bonEntree.idFournisseur" required>
      <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom du Chambre</mat-label>
    <mat-select name="idChambre" [(ngModel)]="bonEntree.idChambre" required>
      <mat-option *ngFor="let chambre of chambres" [value]="chambre.id">{{ chambre.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">{{isEditMode ? 'Modifier' : 'Ajouter'}}</button>
    <button mat-raised-button color="accent" (click)="printTable()">Imprimer</button>
 
    <button mat-button (click)="onCancel()">Annuler</button>
  

  </div>
 
</form>
